annotated-types==0.7.0
blinker==1.9.0
click==8.3.0
Flask==3.1.2
flastapi==0.1.0
h11==0.16.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pydantic==2.11.9
pydantic_core==2.33.2
typing-inspection==0.4.1
typing_extensions==4.15.0
uvicorn==0.37.0
Werkzeug==3.1.3
